<!-- Bela, this is the .ejs header. It is basically the same format as any html -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FedEx Staffing List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- CSS style sheet import -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Bootstrap Icons import -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

  </head>
  <body>
